
<!DOCTYPE html>
<html>
<h1><center><b>About</b></center></h1>
</html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img, style= {margin-bottom: 70px}
</style>
<body>
    <center>
    <p>
        We are NAV.
        </p>
    </center>
        <p><center>
        <dd> This website is built for the planners, the bustlers, the travelers. </dd>
        <dd>NAV enables our consumers to plan trips to LA, ATL, NYC, and MIAMI effectively and efficiently.</dd>
        <dd>It helps those that are not too sure on where to go, but still want to escape the chaos of daily life.</dd>
        <dd>Whether you like history or food, this website is one to check out.</dd>
        <dd>Return back to the first page to take the quiz to find where to go, what to pack, great places to visit, while eating the at the best restaurants </dd>
    </center>
    </p>
</body>

 <center><form method= "get" action="/">
    <p><input type= "submit" value= "Back"></p>
    </form></center>
