<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif;
    background-color: #F9F0E38;
}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}

#title {
    margin-bottom: -200 px;
}

#explain {
    margin-top: 25px;
}
#quiz {
    margin-bottom: 25px;
    margin-top: 100px;
}


</style>
<body>

<!-- Sidebar -->
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block_w3-center">
    <center><a href='/about' class = "w3-bar-item w3-button w3-text-grey w3-hover-black"><font color= "#E3E4DB">About</font></a></center>
    <center><a href="/contact" class = "w3-bar-item w3-button w3-text-grey w3-hover-black"><font color= "#E3E4DB">Contact</font></a></center>
  </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">


<!-- Header -->
<div class="w3-opacity">
<span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>
<div class="w3-clear"></div>
<header class="w3-center w3-margin-bottom">
  <div id= "title"><h1><center><b><font color= "black" size = "30"> NAV </font></b></center></h1></div>
  <div id="quiz"><h3><center><font color= "black">Where Should You Go?</font></center></h3></div>
  <div id="explain"><h6><center><font color= "black">Click below to find the best destination for your needs.</font></center></h6></div>
  <form method="post" action="/travel_location">
       <p><input type= "radio" name = "location" value = "Miami">  Need a stress break?</p>
        <p><input type= "radio" name = "location" value = "Los Angeles">  Interested in the entertainment industry?</p>
        <p><input type= "radio" name = "location" value = "New York">  Do you have a passion for fashion?</p>
        <p><input type= "radio" name = "location" value = "Atlanta">  Want to learn some history?</p>
    <p><input type= "submit" value = "Find out where you should go!"></p>
  </div>
</form>
</header>

</div>

<!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="https://images.unsplash.com/photo-1506977469285-11b541e87a74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=56966a7908ca8de134c179a1ff4f4c2e&auto=format&fit=crop&w=500&q=60" style="width:100%">
    <img src="https://images.unsplash.com/photo-1484275367269-4e0b47b5afdd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39b89871d225f8326f22704ab7f8c2e5&auto=format&fit=crop&w=1189&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1499092346589-b9b6be3e94b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5ed5699770a7ebe52f810d4c0be27b0d&auto=format&fit=crop&w=500&q=60" style="width:100%">
    <img src="https://images.unsplash.com/photo-1491933367339-d869a4dcc137?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=48b384c74910bf37931f00a06ce52d6e&auto=format&fit=crop&w=667&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1507738844735-74791102d6d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6417e39ff9b009d1ea909fb73dc324e&auto=format&fit=crop&w=750&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1518416177092-ec985e4d6c14?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82556570d0dcff3fb7502432611a0698&auto=format&fit=crop&w=889&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1504382262782-5b4ece78642b?ixlib=rb-0.3.5&s=45222f68234f0c6798c839f151741b82&auto=format&fit=crop&w=634&q=80" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="https://images.unsplash.com/photo-1447878035468-f6464b327023?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6732c04b60b57bf4f627da04015f75f&auto=format&fit=crop&w=750&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1521245585918-35fd32bf376f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ca57c73b358f74d56e50a85e7eee006&auto=format&fit=crop&w=701&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1478369402113-1fd53f17e8b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce2ce5f948a3c323c6fcac20a45e8780&auto=format&fit=crop&w=662&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1455245580044-664ab5a916db?ixlib=rb-0.3.5&s=9c4bb088de5bb2031ca99a2a26a9db45&auto=format&fit=crop&w=750&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1469845686739-045be8afad35?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdeb72b2c849a8aab0a37b3eb5ae13c7&auto=format&fit=crop&w=881&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1508197149814-0cc02e8b7f74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=636575d75c357f3a08e9b8295982aa5c&auto=format&fit=crop&w=944&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1466500419182-8602dc906b51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c20c93699a4d43bf1c5c51e517a43122&auto=format&fit=crop&w=1050&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1529774789508-14c346dc88ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e820039f0ae47bf3bff5f32b1f11983&auto=format&fit=crop&w=500&q=60" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="https://images.unsplash.com/photo-1496207108470-3878e528167d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32a5a3760c56aa3f146bab17be4880db&auto=format&fit=crop&w=750&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1495147466023-ac5c588e2e94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b54b672f6b83c7e9ccf289a0730e6f75&auto=format&fit=crop&w=634&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1434828927397-62ea053f7a35?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9bf1b44bc7b21a61784908d5e4257c4c&auto=format&fit=crop&w=750&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1470526446583-d0fe2363d8cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c30c88142d136edd63f7dae6a0639b93&auto=format&fit=crop&w=750&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1503876466-1fc5143eda57?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38b686efe19700860657a0fda21f0187&auto=format&fit=crop&w=667&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1459258350879-34886319a3c9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=647efb585f3f528900772d7f8f4ba72f&auto=format&fit=crop&w=728&q=80" style="width:100%">
    <img src="https://images.unsplash.com/photo-1505233276084-d944dbc8f17d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=618086894afe9854ca3310f7f16e3e6e&auto=format&fit=crop&w=1050&q=80"  style="width:100%">
    <img src="https://images.unsplash.com/photo-1505646601433-6ca1c82e7168?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd3c55c52e4c0c629a4a0fd509ef31c5&auto=format&fit=crop&w=1051&q=80" style="width:100%">
  </div>
</div>

<!-- End Page Content -->
</div>

<script>
// Toggle grid padding
function myFunction() {
    var x = document.getElementById("myGrid");
    if (x.className === "w3-row") {
        x.className = "w3-row-padding";
    } else {
        x.className = x.className.replace("w3-row-padding", "w3-row");
    }
}

// Open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.width = "100%";
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
