<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img, style= {margin-bottom: 12px}
</style>
<body>
<form method="post" action="/travel_location">
    <p><input type= "radio" name = "location" value = "Miami">Need a stress break?</p>
    <p><input type= "radio" name = "location" value = "Los Angeles">Interested in the entertainment industry?</p>
    <p><input type= "radio" name = "location" value = "New York">Do you have a passion for fashion?</p>
    <p><input type= "radio" name = "location" value = "Atlanta">Want to learn some history?</p>
    <p><input type= "submit" value = "Find out where you should go!"></p>
</form>
</body>
